body {
	margin: 0;
	padding: 0;
	background: radial-gradient(circle at 50%, #4E7CB7, #123459);
	text-align: center;
	color: #FAFFD8;
}
footer {
	display: flex;
	justify-content: center;
}
a {
	color: #FAFFD8;
}

header {
	border-bottom: 3px solid #FAFFD8;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
}
.banner {
	padding-right: 30px;
}
#nav-area button {
	width: 150px;
	margin: 4px 10px;
}
#nav-area {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	width: 20%;
}
.videoNSample {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 30px;

}
button {
	background: radial-gradient(circle at 50%, #EEF0F2, #FAFFD8);
}
footer {
	display: flex;
	margin-top: 125px;
	justify-content: center;

}
.main-area {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#logo {
	font-size: 80px;
	margin: 0 40px;
}
#dashboard-btn {
	margin-top: 30px;
}
main {
	display: flex;
}
#info {
	display: flex;
	justify-content: center;
}
#camera-shy {
	margin-top: 100px;
}
